body {
    font-family: arial, sans-serif;
    font-size: small;
}

#nav-bar {
    color: blue;
    margin-bottom: 141px;
    top: 15px;
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    padding: 15px 12px 0px 0;
    align-items: flex-start;
}

.left {
    display: flex;
    padding: 15px 0 0 10.5px;
}

.nav-link {
    padding: 0 12px 0 6.5px;
}

#images {
    margin-left: -3.5px;
}

#grid {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin-left: 3.5px;
}

.grid-item {
    background: #777;
    height: 4px;
    width: 4px;
}

#nav-button {
    color: #fff;
    background: #4285f4;
    line-height: 28px;
    position: relative;
    cursor: normal;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    border-radius: 2px;
    font-size: 13px;
    padding-left: 12px;
    top: -7.5px;
    margin-right: 10px;
    margin-left: 10px;
}

#google-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    padding-top: 4px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

#search-bar {
    background: #fff;
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    margin-bottom: 20px;
    width: 582px;
    height: 44px;
    box-shadow: none;
    border-radius: 24px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#buttons {
    display: flex;
    justify-content: center;
    position: relative;
    top: -2px;
    left: -6.5px;
}

#bsbr {
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11.5px 4px;
    padding: 3px 16px 3px 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#bsbr:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#bsbl {
    padding-right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 8px 11px 4px;
    padding: 3px 16px 3px 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bsbl:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#search-text {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
}

#search-glass {
    width: 50px;
}

#search-voice {
    width: 50px;
}

#footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    color: #222;
    height: 40px;
}

.footer-content-left {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 16px;
}

.footer-content-right {
    display: flex;
    align-items: center;
    align-content: center;
    padding-right: 17px;
}

.footer-link {
    padding: 0 13px 0 14px;
}